<section id="about" class="light-text pt-8 pb-32 grid justify-items-center gap-y-12">
  <h3 class="font-bold fs-lg">Un p'tit mot sur moi</h3>
  <pre>
    Bonjour à tous ! Je m'appelle Loris Puech et je suis développeur frontend depuis plus de 7 ans.
    Je me suis lancé dans l'aventure freelance depuis juillet 2024 pour sortir de ma zone de comfort
    et découvrir de nouveaux horizons !

    Passionné (entre autre) de tennis, de jeux vidéos et de nouvelles technologies, je souhaite créer
    des applications et site web facile d'utilisation et accessible à tous.

    Vous avez une idée à réaliser ou vous chercher un nouveau point de vue sur votre application ?
    n'hésitez plus et partageons ensemble !
  </pre>
</section>
