<footer class="py-16">
  <div class="flex justify-center items-center light-text">
    <app-contact-icons></app-contact-icons>
  </div>

  <div class="light-text flex justify-center items-center gap-32 mt-12 fs-xs">
    <div>
      <p>Design avec <span class="font-bold orange-text">Figma</span></p>
      <p>Hébergé sur <span class="font-bold orange-text">Vercel</span></p>
      <p>Réalisé avec <span class="font-bold orange-text">Angular</span> et <span class="font-bold orange-text">TailwindCSS</span></p>
    </div>
    <div>
      <p>Copyright &#64; 2024 Loris Puech. Tous droit réservés</p>
    </div>
  </div>
</footer>
