@if (project) {
  <div class="grid">
    <h3 class="text-center light-text font-bold text fs-sm">{{project.title}}</h3>
    <div class="relative my-8">
      <img src="{{project.img}}" alt="image du projet">
      <div class="overlay-img flex justify-center items-center gap-12">
        <a target="_blank" href="{{project.github_link}}">
          <fa-icon class="light-text icon-hover" [icon]="faGithub" size="2xl"></fa-icon>
        </a>
        @if(project.website_link) {
          <a target="_blank" href="{{project.website_link}}">
            <fa-icon class="light-text icon-hover" [icon]="faEye" size="2xl"></fa-icon>
          </a>
        }
      </div>
    </div>

    <p class="light-text justify-center fs-xs">{{project.description}}</p>
  </div>
}
