<div class="menu-item">
  <ul class="flex text-2xl gap-12">
    <li>
      <a target="_blank" href="https://github.com/Shiiron"><fa-icon [icon]="faGithub" class="icon-hover" [size]="iconSize"></fa-icon></a>
    </li>
    <li>
      <a target="_blank" href="https://www.linkedin.com/in/loris-puech/">
        <fa-icon
          [icon]="faLinkedin"
          class="icon-hover"
          [size]="iconSize"
        ></fa-icon>
      </a>
    </li>
    <li>
      <a href="mailto:puech.loris@gmail.com">
        <fa-icon
          [icon]="faEnvelope"
          class="icon-hover"
          [size]="iconSize"
        ></fa-icon>
      </a>
    </li>
  </ul>
</div>
