<section id="experiences">
  <h2 class="fs-lg text-center font-bold pb-16 light-text">Expériences Professionelles</h2>
  <div class="lg:flex grid justify-center lg:gap-x-16 gap-y-16 pb-48">
    <ul class="light-text flex lg:grid">
      @for (experience of experiences; track $index) {
        <li class="p-8 fs-sm" [class]="$index === selectedIndex ? 'is-selected' : ''" (click)="setSelectedExperience($index)">{{ experience.menu_label }}</li>
      }
    </ul>

    @if (selectedExperience) {
      <article class="light-text">
        <h4 class="font-bold fs-sm">{{ selectedExperience.title }}</h4>
        <h6 class="fs-xs">{{ selectedExperience.sub_title }}</h6>

        <p class="mt-8 min-h-40 fs-xs">{{ selectedExperience.description }}</p>
      </article>
    }
  </div>
</section>
