<section id="skills" class="grid justify-center items-center">
  <article class="current-skills grid">
    <div class="skill-container pb-5 text-center">
      <app-skill-card [icon]="faPalette" [skillList]="design_skills" title="Créer"></app-skill-card>
    </div>

    <div class="skill-container pb-5 text-center">
      <app-skill-card [icon]="faCode" [skillList]="code_skills" title="Développer"></app-skill-card>
    </div>

    <div class="wskill-container pb-5 text-center">
      <app-skill-card [icon]="faShareNodes" [skillList]="share_skills" title="Partager"></app-skill-card>
    </div>

    <div class="futur-skills text-center p-12 blue-text">
      <p class="fs-xs">Curieux par nature, voici une liste non exhaustive de technologies sur lequel je souhaite acquérir plus d'expérience</p>
      <ul class="flex justify-center items-center mt-8 gap-9">
        @for(skill of futur_skills; track skill) {
          <li class="font-bold fs-sm">{{skill}}</li>
        }
      </ul>
    </div>
  </article>
</section>
