#skills {
  transform: translateY(-8rem);

  article {
    width: 80vw;
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
  }
}

.current-skills {
  background: white;
  border-radius: 2rem;
}

.futur-skills {
  border-top: dashed 2px var(--orange);
  grid-column: 1 / span 3;
}

.skill-container {
  &:not(:nth-child(3)) {
    border-right: dashed 2px var(--orange);
  }
}

@media (max-width: 1024px) {
  .skill-container {
    &:not(:nth-child(3)) {
      border-bottom: dashed 2px var(--orange);
      border-right: none;
    }
  }

  #skills {
    article {
      grid-template-columns: auto;
    }
  }

  .futur-skills {
    grid-column: auto;
  }
}

@media(max-width: 768px) {
  .futur-skills {
    ul {
      display: grid;
    }
  }
}
