@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --light-text: hsl(0, 0%, 100%);
  --orange: hsl(22, 74%, 53%);
  --basic-blue: hsl(236, 40%, 22%);
  --darker-blue: hsl(235, 32%, 15%);
}

body, html, main {
  height: 100%;
  font-family: "Inter", sans-serif;
}

body {
  background-color: var(--basic-blue);
}
