.roadmap li {
  position: relative;

  &::after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 0;
    position: absolute;
    background: var(--orange);
    transition: height 0.3s ease 0s, left 0.3s ease 0s;
    width: 100%;
  }

  &:hover::after {
    height: 5px;
  }
}

nav {
  background: var(--darker-blue);
  margin-top: -8rem;
  transform: translateX(-100vw);
  transition: all .5s ease-in-out;

  div {
    min-width: 300px;
  }
}

nav.open {
  transform: translateX(0);
  transition: all .5s ease-in-out;
}

.menu:has(+ nav.open) {
  transform: translateX(100vw);
}

.toggle-menu {
  border-top-right-radius: 4rem;
  border-bottom-right-radius: 4rem;
  background: var(--darker-blue);
  transition: all .5s ease-in-out;
  transform: translateX(0vw);
}

.menu-item:hover {
  transition: color .3s ease-in-out;
  color: var(--orange);
}