<div class="menu" (click)="changeMenu()">
  <fa-icon [icon]="faBars" size="3x"></fa-icon>
</div>

<nav class="flex light-text">
  <div
    class="menu-item text-2xl flex items-center pl-4"
    (click)="changeMenu(true)"
  >
    <fa-icon [icon]="faCircleXmark" class="button-hover" size="2xl"></fa-icon>
  </div>

  <div class="menu-item flex justify-center grow h-full">
    <ul class="flex font-bold text-2xl gap-8 roadmap hover:cursor-pointer">
      <li class="content-center"><a href="#about">A propos</a></li>
      <li class="content-center">Expérience</li>
      <li class="content-center">Compétences</li>
      <li class="content-center">Projets</li>
    </ul>
  </div>

  <div class="menu-item flex items-center pr-10">
    <app-contact-icons></app-contact-icons>
  </div>
</nav>
